#about-me {
    text-align: right;
}
#banner-welcome{
    height: 450px;
    width: 100%;
}
#banner-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container, .container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.kai-ti{
    font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
    text-align: center;
}

#english-title{
    font-family: 'Open Sans Condensed', sans-serif;
}


body, html {
    height: 100%;
    width: 100;
    margin: 0px;
    padding: 0px;
}

.parallax { 
    background-image: url("https://images.unsplash.com/photo-1465311530779-5241f5a29892?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb&amp;crop=");
    /*Image credit: 
        Kalen Emsley
        https://unsplash.com/@kalenemsley
    */
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
}