body {
    background-image: url("https://images.unsplash.com/photo-1490312278390-ab64016e0aa9?dpr=1.5&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=");
}

#app {
    font-family: 'Playfair Display', serif;
    /*font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-size: 20px;
    min-width: 550px;
    max-width: 1150px;
    margin: 0 auto;
}


a.active {
    color: orange;
}

h1 {
    font-size: 35px;
}

.hand-pointer {
    cursor: pointer;
}

#homePage {
    justify-content: center;
    align-items: center;
}

nav {
    padding-top: 20px;
    font-size: 16px;
}

p.questions {
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    cursor: pointer;
    color: black;
}

p.signup-link {
    font-size: 12px;
} 

p.active {
    color: orange;
}

.small-text {
    font-size: 11px;
}

.spacer {
    height: 160px;
}

.spacer2 {
    height: 120px;
}

#signup-link {
    font-size: 12px;
}

#subject-list {
    border-left: 2px solid;
}